@model hrm_v4.Models.EMPLEADOS

@{
    ViewBag.Title = "Details";
}
@Styles.Render("~/Content/EstiloFormulario.css")
@Styles.Render("~/Content/EstiloBoton.css")

<div>
    <h4>Personal > Detalles</h4>
    <hr />
    <dl class="form-group">
        <dt class="control-label">
            @Html.DisplayNameFor(model => model.ID_EMPLEADO)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.ID_EMPLEADO)
        </dd>
    </dl>
    <dl class="form-group">
        <dt class="control-label">
            @Html.DisplayNameFor(model => model.CEDULA)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.CEDULA)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.APE1)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.APE1)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.APE2)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.APE2)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.TEL_HABITACION)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.TEL_HABITACION)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.TEL_MOVIL)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.TEL_MOVIL)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.E_MAIL)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.E_MAIL)
        </dd>
    </dl>
    <dl class="form-group">
        <dt class="control-label">
            @Html.DisplayNameFor(model => model.SALARIO)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.SALARIO)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.ESTADO)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.PUESTOS.ID_PUESTO)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.PUESTOS.ID_PUESTO)
        </dd>

    </dl>
<div class="form-group">
    <input type="button" class="myButton" value="Editar" onclick="location.href='@Url.Action("Edit", "Edit", new { id = Model.ID_EMPLEADO })'" />
    <input type="button" class="myButton" value="Regresar" onclick="location.href='@Url.Action("Index", "EMPLEADOS")'" />
</div>
</div>
