@model hrm_v4.Models.EMPRESAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPRESAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAZON_SOCIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAZON_SOCIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEDULA_JURIDICA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDULA_JURIDICA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_FUNDACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_FUNDACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAIS_ORIGEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAIS_ORIGEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEDE_CENTRAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEDE_CENTRAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_EMPRESA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
