@model hrm_v4.Models.EMPRESAS

@{
    ViewBag.Title = "Details";
}
@Styles.Render("~/Content/EstiloFormulario.css")
@Styles.Render("~/Content/EstiloBoton.css")

<div>
    <h4>Empresas > Detalles</h4>
    <hr />

    <dl class="form-group">
        <dt class="control-label">
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.RAZON_SOCIAL)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.RAZON_SOCIAL)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.CEDULA_JURIDICA)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.CEDULA_JURIDICA)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.FECHA_FUNDACION)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.FECHA_FUNDACION)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.PAIS_ORIGEN)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.PAIS_ORIGEN)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.SEDE_CENTRAL)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.SEDE_CENTRAL)
        </dd>
    </dl>
    <dl class="form-group">

        <dt class="control-label">
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd class="formDetails">
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

    </dl>
    <div class="form-group">
        <input type="button" class="myButton" value="Editar" onclick="location.href='@Url.Action("Edit", "Edit", new { id = Model.ID_EMPRESA })'" />
        <input type="button" class="myButton" value="Regresar" onclick="location.href='@Url.Action("Index", "EMPRESAS")'" />
    </div>
</div>
