@model IEnumerable<hrm_v4.Models.DEPARTAMENTOS>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/EstiloTabla.css")
@Styles.Render("~/Content/EstiloBoton.css")
@Scripts.Render("~/bundles/modernizr")

<h4>Departamentos</h4>
<hr />

<div class="datagrid">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NOMBRE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DESCRIPCION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMPRESAS.NOMBRE)
                </th>
                <th></th>
            </tr>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBRE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESCRIPCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMPRESAS.NOMBRE)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_DEPARTAMENTO }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID_DEPARTAMENTO }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_DEPARTAMENTO })
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>

<br />

<div class="myButton">
    @Html.ActionLink("Crear Nuevo", "Create")
</div>
